# Jira credentials
JIRA_BASE_URL=https://rently.atlassian.net
JIRA_EMAIL=your-email@rently.com
JIRA_API_TOKEN=your-jira-api-token

# Jira Board
BOARD_ID=21

# Google Chat Incoming Webhook URL
GCHAT_WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/XXXXX/messages?key=...
